*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    height:150px;
    width:150px;
    transition: all 0.3s linear;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.box:hover{
    scale:1.2 !important;
}
body:has(.box:hover) .box{
    scale: 0.7;
}